/* Universal Selector */
* {
    color: purple;
}


/* Type Selector */
* {
    color: white;
}


/* Class Selector */
.alert-text {
    color: red;
  }


  /* ID Selector */
#title {
    color: red;
  }


/* Grouping Selectors */
  .read, 
.unread {
  color: white;
  background-color: black;
}

.read {
  /* several unique declarations */
}

.unread {
  /* several unique declarations */
}


/* Chained Selector
    What .subsection.header does is it selects any element that has both the subsection and header classes.
*/
.subsection.header {
    color: red;
  }


/* Descendant Combinator */
.ancestor .contents {
/* some declarations */
}


/* Colors */
p {
    /* hex example: */
    color: #1100ff;
    /* rgb example: */
    color: rgb(100, 0, 127);
    /* hsl example: */
    color: hsl(15, 82%, 56%);
  }