
html {
    background-color: #f0e0e0;
    font-family: sans-serif;
}

/* Buttons styles start */
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.main > * {
    width: 100%;
    margin: 0 auto;
}

.main > h1 {
    color: blue;
    margin: 30px 0;
}

.main > p {
    margin-bottom: 100px;
}

.centered-text {
    text-align: center;
}

.toggle {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card {
    text-align: center;
    width: 250px;
    height: 400px;
    border-radius: 15px;
    padding: 0px 20px 20px 20px;
    background-color: #212121;
    color: white;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.8);
}

.card-button {
    background-color: lime;
    margin: 30px 0px;
    width: 180px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.8);


}

.red {
    background-color: red;
}

.yellow {
    background-color: orange;
}

.card-button:hover {
    width: 200px;
    padding: 20px 20px;
    /* background-color: black; */
}

.button-box {
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}