:root {
    --main-blue: rgb(50, 120, 233);
}

.button {
    background-color: var(--main-blue, blue);
    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: auto; */
    cursor: pointer;
    border-radius: 20px;
    /* height: 30px; */
  }

.button:hover {
    background-color: blue;
}

html, body {
    height: 100%;
    margin: 0px;
    color: grey;
}
.content {
    min-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 2px;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
}

header nav ul {
    display: flex;
    justify-content: baseline;
    list-style-type: none;
    height: 100%;
    padding: 0px;
    margin: auto;
}

nav ul li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
    border: 1px solid lightgrey;
}

nav ul li:hover {
    color: black;
    cursor: pointer;
    background-color: lightgrey;
    color: white;
    font-weight: 800;
}

hr {
    width: 100%;
    height: 2px;
    background-color: var(--main-blue, blue);
    margin: 0px;
}
main {
    height: 100%;
    display: flex;
    gap: 50px;
    padding: 50px 40px;
} 

aside {
    border-top: 3px solid var(--main-blue, blue);
    background-color: #f2f2f2;
    padding: 0px 20px;
    flex: 1;
}

aside h3 {
    font-size: 30px;
    margin: 10px 0px;
}

aside ul {
    list-style-type: none;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
}

aside ul li {
    margin-bottom: 5px;
}

aside ul li:hover {
    color: lightgrey;
    cursor: pointer;
}

section {
    width: 100%;
    flex: 3;
}

.image-field {
    background-color: #f2f2f2;
    border-right: 3px solid var(--main-blue, blue);
    width: 100%;
    height: 100px;
    
}

section h2 {
    color: var(--main-blue, blue);
    font-weight: 800;
    font-size: 36px;
    margin: 20px 0px;
}

section p {
    text-align: justify;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
}

